* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: rgba(239, 246, 240, 1);
}
  
a {
    text-decoration: none;
}
  
ul {
    list-style: none;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 7rem;
  }
  
nav,
.branding,
.nav-links,
.user-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

nav a{
    color: #FFFFFF;
}

nav .logo {
    height: 1.5rem;
    width: auto;
    cursor: pointer;
}
  
nav .branding {
    margin-left: 4rem;
    margin-top: 1.4rem
}

nav .branding h4 {
    font-style: normal;
    font-weight: medium;
    font-size: 32px;
    line-height: 44px;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    cursor: pointer;
}

nav .branding h4 p{
    color: rgba(126, 182, 133, 1);
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.41725px;
    margin-top: 1.8rem;
    width: 404px;
    height: 65.92px;
    left: 518px;
    top: 35px;
    background: #7EB685;
    border-radius: 14.1259px;
}

.nav-links li{
    position: static;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    flex: none;
    margin: 0px 30.1352px;
}

nav .nav-links li.active {
    border-bottom: 3px solid #ffffff;
}

.signup{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9.14286px;
    width: 163.66px;
    height: 64px;
    left: 1200.5px;
    top: 35px;
    background: #7EB685;
    border-radius: 41.472px;
    justify-content: center;
    cursor: pointer;
}

.signup p{
    position: static;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

nav .user-menu {
    flex-grow: 1;
    justify-content: end;
    margin-right: 2rem;
    margin-top: 1.5rem;
  }
  
nav .user-menu .signup {
    margin-right: 2rem;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.hero {
    display: flex;
    flex-direction: row;
    padding: 4rem;
}

.hero .title {
    position: relative;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.hero .title h2{
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
}

.hero .title h2, .hero .title p{
    margin-bottom: 1.5rem;
}

.hero .title p{
    font-size: 20px;
}

.right-image{
    margin: 10rem 0rem;
    margin-left: auto;
}

.right-image img{
    width: 550px;
    height: 550px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19.7222px 22px;
    position: absolute;
    border: 0em;
    background-color: #7EB685;
    border-radius: 45.3611px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 25rem;
    cursor: pointer;
}
